
    .expenseInput {
        border:2px solid   brown;
        border-radius: 28px;
    
    margin:50px  100px auto 100px ;
    padding:20px;
    text-decoration:none;
  
    }
    .expenseInput ul{
        list-style-type:none;
    }
    .expenseInput button {
        background-color: brown;
        color:white;
        border-radius: 4px;
        border:0.5px solid white;
         
        padding:4px;
        
    }

    .data {
       margin-left:40px;
       margin-right: 50px;
       text-decoration:none;
      border:0.5px inset brown;
       border-radius:4px;
       padding:5px;
    }
    


