.pageheader   {
    justify-content: space-between;
    display:flex;
    text-decoration:none;
    padding:10px;
    
}
.pageheader span {
    background-color: lightgrey;
    border-radius: 20px;
    padding:6px;
     
}

.logout button{
    background-color: brown;
    border:none;
    border-radius:5px;
    color:white;
    padding: 4px;
    margin-left:94%;
    margin-top: 1%;
}
 